<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klasscode.depansmwen">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.DepansMwen">
        <activity android:name=".controller.transaction.AddTransactionActivity"></activity>
        <activity android:name=".controller.transaction.TransactionActivity" />
        <activity android:name=".controller.account.AddAccountActivity" />
        <activity android:name=".controller.cash.AddCashActivity" />
        <activity android:name=".controller.cash.CashActivity" />
        <activity android:name=".controller.account.AccountActivity" />
        <activity android:name=".controller.HomeAppActivity" />
        <activity android:name=".controller.SignUpActivity" />
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>